{% extends 'base.html' %} 

{% load static %}

{% block content %}

<div class="container-fluid d-flex justify-content-center mt-5">
  <h1>Pride Movement History</h1>
</div>

<div class="container-fluid py-5 d-flex justify-content-center">
  <div class="row">
    <div class="col-lg-8 history-section section-md">
      <div class="history-container container">
        <!-- Title  -->
        <ul class="history-timeline">
          {% for history in history_events %}
          <li class="history-event">
            <div class="history-date">{{ history.year|date:"Y" }}</div>
            {% if history.image %}
            <div class="history-image">
              <img
                src="{{ history.image.url }}"
                class="img-fluid"
                alt="{{ history.event }}"
              />
            </div>
            {% endif %}
            <div class="history-title">{{ history.event }}</div>
            <div class="history-descr">{{ history.description }}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- Details Box (Visible only on large screens) -->
    <div class="col-lg-4 d-none d-lg-block">
  <div class="card-border-wrapper">
    <div class="card-hist-info d-flex align-items-center">
      <div class="card-hist-info-text">
        <p class="p-2 px-4 mt-4">
          This page provides highlights of significant moments in the Pride
          history. Click on any dates in the timeline events to expand and find
          information about each event.
        </p>
        <p class="p-2 px-4">
          For more detailed information, check out the additional resources and
          links to important articles about it available through the link under
          the content.
        </p>
      </div>
    </div>
  </div>
</div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const historyEvents = document.querySelectorAll(".history-event");

        historyEvents.forEach((event) => {
          const dateElement = event.querySelector(".history-date");
          dateElement.addEventListener("click", function () {
            event.classList.toggle("expanded");
          });
        });
      });
    </script>

{% endblock %}