{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="history-header-img">
    <img src="{% static 'images/header.jpg' %}" class="img-fluid" alt="Responsive image">
</div>

<div class="history-section section-md py-5">
    <div class="history-container container">
        <!-- Title  -->
        <h1>Pride Movement History</h1>
        <ul class="history-timeline">
            {% for history in history_events %}
            <li class="history-event" style="--accent-color:#41516C;">
                <div class="history-date">{{ history.year|date:"Y" }}</div>
                {% if history.image %}
                <div class="history-image">
                    <img src="{{ history.image.url }}" class="img-fluid" alt="{{ history.event }}">
                </div>
                {% endif %}
                <div class="history-title">{{ history.event }}</div>
                <div class="history-descr">{{ history.description }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}