{% extends "base.html" %}

{% load i18n %}

{% block title %}Login{% endblock %}

{% block signalert %}you know the drill{% endblock %}

{% block content %}

<div class="container sign-box mt-5 mb-5">
  <div class="row">
    <div class="col-3 rainbow-box d-flex justify-content-center flex-column align-items-end p-0">

      <a class="btn active-button" href="{{ login_url }}">Login</a>
      <br>

      <a class="btn deactive-button" href="{{ signup_url }}">Sign In</a>
    </div>
    <div class="col-9 form-box">

      <div class="container signall">
        <div class="row">
          <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Login" %}</h3>

            <p>{% blocktrans %}Welcome back! If you have not created an account yet, 
              then <a class="link" href="{{ signup_url }}"><strong>sign up</strong></a>
              first.{% endblocktrans %}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 mt-3 offset-md-2 mb-5">
            <form class="login" id="signup-form" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="d-flex justify-content-center mb-5">
                <button class="btn submit-btn rainbow-btn btn-lg right mb-5" type="submit">{% trans "Login" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}