body {
  font-family: Ubuntu, sans-serif;
}

.alert-dismissible {
  display: none;
}

.alert,
.popup-message,
.alert-success {
  width: 40vw;
  position: fixed;
  top: 0;
  padding: 10px;
  background-color: #FFF;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf,
      #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff) 1;
  color: #000;
  margin: 0 auto;
  margin-top: 125px;
}

h1 {
  position: relative;
  background-color: transparent;
  z-index: 1;
}

/* BASE HTML */

.navbar-brand img {
  width: 140%;
}

.dropdown-menu[data-bs-popper] {
  left: -90%;
  margin-right: 1rem;
}

.drop-down-menu {
  margin-left: -40px;
}

nav,
footer {
  background-color: #FFF;
  border-bottom: 5px solid transparent;
  /* border-image: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf,
      #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff) 1; */
  border-image: linear-gradient(to right, #ffd6a5, #fdffb6, #caffbf,
      #9bf6ff, #a0c4ff, #bdb2ff, #bdb2ff, #a0c4ff, #9bf6ff,
      #caffbf, #fdffb6, #ffd6a5, #ffd6a5, #fdffb6, #caffbf,
      #9bf6ff, #a0c4ff, #bdb2ff) 1;
  box-shadow: 0 0 15px #b8f9ff;
}

/* .drip {
  width: 100%;
  background-color: #ffffff;
  background-image: url("../images/drip4.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
} */

.drip {
  width: 100%;
  background-color: #FFFFFF;
  background-image: url("../images/drip.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
}

/* BUTTONS */
.hero-btn,
.submit-btn {
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 3px 3px 1px #000;
}

.hero-btn:hover,
.submit-btn:hover {
  box-shadow: none;
}

.submit-btn {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: .3rem;
}

.rainbow-btn {
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf,
      #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff) 1;
  box-shadow: 3px 3px 1px #000;
}

.rainbow-btn:hover {
  box-shadow: none;
}

/* Signin, Login, Logout */
.signall {
  position: relative;
}

.signall .login {
  margin-bottom: 68px;
}

.form-box {
  padding: 30px 0 80px 0;
}

.sign-box {
  border-radius: 10px;
  box-shadow: 3px 3px 1px #000, 0 0 3px #000;
}

.signout {
  box-shadow: none;
}

.rainbow-box {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(to bottom right, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
}

.rainbow-box .btn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.active-button {
  background-color: #ffffff;
  color: #000000;
}

.deactive-button,
.active-button {
  width: 90px;
  font-size: 20px;
}

.deactive-button:hover,
.active-button:hover {
  background-color: #bababa;
}

/* FOOTER */

footer {
  border-top: 5px solid transparent;
  border-bottom: none;
}

.footer-row {
  display: flex;
  align-items: flex-start;
}

.footer-title h3 {
  font-family: 'Playwrite Deutschland Grundschrift', sans-serif;
  font-weight: bold;
  margin-bottom: 0.1rem;
  min-height: 2.5em;
}

.quick-links-container,
.footlinks,
.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem 0;
}

.quick-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.quick-links-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quick-links-title {
  margin-bottom: 0.4rem;
  font-weight: bold;
}

.quick-links-content a {
  margin: 0.2rem 0;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease, box-shadow 0.3s ease;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.quick-links-content a:hover,
.quick-links-content a:focus {
  color: rgb(193, 26, 222);
  box-shadow: 0 0 0 2px rgb(193, 26, 222);
  outline: none;
}

.footlinks {
  font-weight: bold !important;
  text-align: center;
  padding: 2rem 0;
}

.footlinks-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footlinks-icons {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 2rem;
}

.footlinks-icons a {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 15px;
  border-radius: 50%;
}

.footlinks-icons a:hover,
.footlinks-icons a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgba(32, 5, 152, 0.5);
}

.footlinks-icons img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.footlinks-icons a:hover img,
.footlinks-icons a:focus-visible img {
  transform: scale(1.2);
}

.footlinks-icons .top-left {
  top: 0;
  left: 0;
}

.footlinks-icons .center-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.footlinks-icons .bottom-left {
  bottom: 0;
  left: 0;
}

.footer-title {
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.badgr-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.badgr-badge img {
  margin-bottom: 10px;
}

.badgr-badge-name,
.badgr-badge-date,
.badgr-badge-recipient,
.verify-txt {
  text-align: center;
}

.badgr-badge-name {
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #05012c;
}

.badgr-badge-date,
.badgr-badge-recipient {
  margin: 0;
  font-size: 12px;
  line-height: 1.67;
  color: #555555;
}

.badgr-badge-date strong,
.badgr-badge-recipient strong {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.67;
  color: #000;
}

.verify-txt {
  font-family: Ubuntu, sans-serif;
  font-weight: 100;
  font-size: x-small;
  white-space: normal;
  margin: 0;
}

.copyright {
  background-image: linear-gradient(to bottom right, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
}

@media (min-width: 300px) {

  nav,
  footer {
    border-image: linear-gradient(to right, #ffd6a5, #fdffb6, #caffbf,
        #9bf6ff, #a0c4ff, #bdb2ff) 1;
  }

  .drip {
    height: 40px;
  }
}

@media (max-width: 650px) {
  .contact-form {
    margin: 0 auto;
    max-width: 95%;
    padding: 12px;
  }
}

@media (min-width: 650px) {
  .drip {
    height: 57px;
  }
}

@media (max-width: 910px) {
  .navbar-brand img {
    width: 450%;
  }

  .drip {
    height: 60px;
  }
}

@media (min-width: 1110px) {

  nav,
  footer {
    border-image: linear-gradient(to right, #ffd6a5, #fdffb6, #caffbf,
        #9bf6ff, #a0c4ff, #bdb2ff, #bdb2ff, #a0c4ff, #9bf6ff,
        #caffbf, #fdffb6, #ffd6a5, #ffd6a5, #fdffb6, #caffbf,
        #9bf6ff, #a0c4ff, #bdb2ff) 1;
  }
}