{% extends "base.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}

<!-- Blog page heading -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mb-4">
            <h1 class="headings">Blog</h1>
        </div>
    </div>
</div>

<!-- Blog posts section -->
<div class="container blog-page" id="blog-posts-container">
    <div class="row">
        {% for post in object_list %}
        <!-- expands the latest post on wider screens -->
        <div class="col-12 {% if forloop.first %} col-md-12 col-lg-8 {% else %} col-md-6 col-lg-4 {% endif %}">
            <div class="card p-0 mb-5 blog-card">
                <a href="{% url 'blog_post' post.slug %}" class="text-decoration-none text-dark">
                    <div class="image-container position-relative">
                        <!-- Placeholder image -->
                        <img src="https://imgur.com/mmg56eP.png" class="card-img-top" alt="Placeholder Image">

                        <!-- adds overlay to the image of the latest post -->
                        {% if is_paginated %}
                        {% if not page_obj.has_previous %}
                        {% if forloop.first %}
                        <div class="blog-latest-overlay d-flex justify-content-start">
                            <div class="h4 mx-5 my-2">Latest</div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                    <!-- Title and excerpt section -->
                    <div class="pb-3 ps-4 pe-3 mt-1">
                        <h2 class="card-title mb-3 mt-1">{{ post.title }}</h2>
                        <hr>
                        <p class="card-text lead">{{ post.excerpt }}</p>
                    </div>
                    <hr>
                    <!-- Category, published date/time and comment section -->
                    <div class="col-12 d-flex justify-content-around">
                        <span class="h6 pb-1 ps-1 fw-bolder">{{ post.blog_category }}</span>
                        <span class="text-muted h6 pb-1 ps-3 me-3 fw-bolder">{{ post.created_on }}</span>
                        <span>
                            {% with post.comments.count as total_comments %}
                            <strong class="text-secondary blog-comment pe-1 pb-1"><i class="far fa-comments"></i> {{ total_comments }}</strong>
                            {% endwith %}
                        </span>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<div aria-label="Page navigation" class="mb-5">
    <ul class="blog-pagination pagination justify-content-center mt-4 mb-5">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="btn">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="btn"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}