{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="headings"><span>B</span>log</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'add_blog' %}" class="btn btn-signup col me-2 mb-3" type="button">
                <i class="fas fa-plus-circle"></i> Add Blogpost
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid blog">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            {% for post in object_list %}
            <div class="card p-0 mb-5">
                <div class="image-container">
                    {% if post.image %}
                    <img class="card-img-top" src="{{ post.image.url }}">
                    {% else %}
                    <img src="https://imgur.com/jVraxDv.png" class="card-img-top" alt="Placeholder Image">
                    {% endif %}
                </div>
                <a href="{% url 'blog_post' post.slug %}" class="post-link a-link">
                    <div class="link pb-3 ps-4">
                        <h2 class="card-title mb-4">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </div>
                </a>
                <div class="col-12 d-flex justify-content-between">
                    <p class="blog-date text-muted h6 pb-1 ps-3 mt-2">{{ post.created_on }} <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="blog-pagination pagination justify-content-center mt-4">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="btn">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="btn"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>

{% endif %}

{% endblock %}