{% extends 'base.html' %}

{% block title %}Edit Comment{% endblock %}

{% block content %}
<div class="countainer-fluid mt-5">
    <div class="row col-12 d-flex justify-content-center align-self-center ms-0">
        <div class="mt-5 crud-box">
            <div>
                <div class="go-back col-1 mt-3" title="Go back">
                    <a class="text-black" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-reply"></i></a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <form class="col-10" method="POST" enctype="multipart/form-data" action="{% url 'edit-comment' comment.id %}">
                    {% csrf_token %}
                    <div class="col-12 d-flex justify-content-center">
                        <h1>Edit Comment</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-4">
                        {{ form.as_p }}
                    </div>
                    <div class="field-contend mb-5 d-flex justify-content-end me-4">
                        <input class="btn form-btn input" type="submit" value="SAVE">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}