{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="hero px-4 py-5 mb-5 text-center">
    <div class="hero-content">
        <h1 class="display-5 fw-bold mb-3">Chronicles of Pride</h1>
        <h2 class="display-6 fw-italic mb-4">Come and join us as we learn about Pride!</h2>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Welcome to Chronicles of Pride, your inclusive hub for exploring LGBTQIA+ history, culture, and
                diversity. Dive into rich histories, test your knowledge with interactive flashcards, and connect with
                our community through our engaging blog.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
                <a href="#discover-history" class="btn hero-btn btn-lg px-4 gap-3">More</a>
            </div>
        </div>
    </div>
</section>
<section id="discover-history" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../static/images/aids-quilt.webp" class="d-block mx-lg-auto img-fluid"
                alt="An aerial image of the Aids quilt" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h2 class="display-5 fw-bold lh-1 mb-3">Discover The History</h2>
            <p class="lead">
                The LGBTQIA+ community has a rich and diverse history, filled with moments of triumph, struggle, and
                everyday life. Over the centuries, our community has faced persecution and vilification, but has also
                been embraced, honored, and respected. From battling the HIV/AIDS crisis to standing strong during the
                COVID-19 pandemic, we've always supported each other and those around us.
            </p>
            <p class="lead">
                Our community includes famous athletes, authors, musicians, politicians, actors, and countless everyday
                people who are your neighbors, friends, and family. Join us to explore and learn about our vibrant
                history!
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'history' %}" class="btn rainbow-btn btn-lg px-4 me-md-2">Learn more...</a>
            </div>
        </div>
    </div>
</section>
<section class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h2 class="display-5 fw-bold lh-1 mb-3">Rainbow Cards</h2>
            <p class="lead">
                Curious about what 'Non-Binary' means? Or why the Progressive Pride flag has extra colors? Check out our
                flashcards and discover fascinating insights about the LGBTQIA+ community. You might learn something new
                and unexpected!
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'cards' %}" class="btn rainbow-btn btn-lg px-4 me-md-2">Learn more...</a>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../static/images/cards.webp" class="d-block mx-lg-auto img-fluid"
                alt="Rainbow coloured playing cards arranged in a rainbow." loading="lazy">
        </div>
    </div>
</section>
<!-- Blog Section -->
<section class="py-5 text-center container">
    <div class="row pt-lg-5">
        <div class="col-lg-12 col-md-8 mx-auto">
            <h2 class="display-5 fw-bold lh-1 mb-3">Latest from the Blog</h2>
            <p class="lead mt-4">
                Our blog features stories from members of our community, curated and monitored by our team to ensure
                they are appropriate for all users. If you have a story to share, use our contact page to submit it.
                Come in, find something to read, start a conversensation, and make new friends!
            </p>
        </div>
</section>
<section class="pb-5 text-center container">
    <div class="row mb-2 d-flex justify-content-center">
        {% for post in latest_blogs %}
        <div class="col-md-3 blog-articles">
            <a href="{% url 'blog_post' post.slug %}">
                {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}">
                {% else %}
                <img src="https://imgur.com/jVraxDv.png" class="card-img-top" alt="Placeholder Image">
                {% endif %}
                <div class="pb-3 ps-4 pe-3 mt-1">
                    <h2 class="card-title mb-3 mt-1">{{ post.title }}</h2>
                    <hr>
                    <p class="card-text lead">{{ post.excerpt }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a href="{% url 'blog' %}" class="btn rainbow-btn btn-lg px-4 me-md-2">Learn more...</a>
        </div>
    </div>
</section>
<section class="py-5 text-center container">
    <div class="news">
        <h2 class="pb-3 mx-auto p-2 px-2"><span id="r">LG</span><span id="o">BT</span><span id="y">QI</span><span
                id="g">A+</span> <span id="b"> News</span> <span id="v"> Feed</span></h2>
        <rssapp-carousel id="shL5YRROjhwwABVx" class="p-4"></rssapp-carousel>
    </div>
    <script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script>

    </div>
</section>

{% endblock %}