{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="hero px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold my-5">Learn, Celebrate, and Connect with the LGBTQ+ Community</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Welcome to Chronicles of Pride, your inclusive hub for learning about LGBTQ+ history, culture, 
            and community. Dive into the rich history, test your knowledge with interactive flashcards, 
            and connect with others through our community blog.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Button</button>
        </div>
    </div>
</section>
<section class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://imgur.com/Bea3VUJ.png" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h2 class="display-5 fw-bold lh-1 mb-3">Discover The History</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet ut turpis vel congue.
                Etiam sit amet ex bibendum sapien euismod imperdiet tincidunt id nibh. Donec ac fringilla ligula.
                Nullam facilisis magna mi, vel sodales nulla egestas nec. Cras elit nunc, pulvinar sed ex vitae, pretium porta metus.
                Nullam aliquam eros sed venenatis suscipit. Donec a massa quis odio feugiat volutpat vel eu odio.
                Nunc gravida libero vitae diam finibus rutrum. Vivamus dictum tellus purus, ac blandit eros rhoncus a.
                Maecenas venenatis vestibulum metus rutrum tempor. Nullam placerat lacus in diam dapibus, ac ultricies dui porta.
                Nam tristique quis augue at tristique.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'history' %}" class="btn btn-primary btn-lg px-4 me-md-2">More</a>
            </div>
        </div>
    </div>
</section>
<section class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h2 class="display-5 fw-bold lh-1 mb-3">Rainbow Cards</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet ut turpis vel congue.
                Etiam sit amet ex bibendum sapien euismod imperdiet tincidunt id nibh. Donec ac fringilla ligula.
                Nullam facilisis magna mi, vel sodales nulla egestas nec. Cras elit nunc, pulvinar sed ex vitae, pretium porta metus.
                Nullam aliquam eros sed venenatis suscipit. Donec a massa quis odio feugiat volutpat vel eu odio.
                Nunc gravida libero vitae diam finibus rutrum. Vivamus dictum tellus purus, ac blandit eros rhoncus a.
                Maecenas venenatis vestibulum metus rutrum tempor. Nullam placerat lacus in diam dapibus, ac ultricies dui porta.
                Nam tristique quis augue at tristique.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'cards' %}" class="btn btn-primary btn-lg px-4 me-md-2">More</a>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://imgur.com/Bea3VUJ.png" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
        </div>
    </div>
</section>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-12 col-md-8 mx-auto">
            <h2 class="display-5 fw-bold lh-1 mb-3">Latest from the Blog</h2>
            <p class="lead mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet ut turpis vel congue.
                Etiam sit amet ex bibendum sapien euismod imperdiet tincidunt id nibh. Donec ac fringilla ligula.
                Nullam facilisis magna mi, vel sodales nulla egestas nec. Cras elit nunc, pulvinar sed ex vitae, pretium porta metus.
            </p>
        </div>
        <div class="row mb-2 mt-4">
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static text-start">
                        <p class="d-inline-block mb-2 text-primary">Author</p>
                        <h3 class="mb-0">Title</h3>
                        <p class="card-text mb-auto">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet ut turpis vel congue.
                            Etiam sit amet ex bibendum sapien euismod imperdiet tincidunt id nibh. Donec ac fringilla ligula.
                        </p>
                        <a href="" class="stretched-link">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static text-start">
                        <p class="d-inline-block mb-2 text-primary">Author</p>
                        <h3 class="mb-0">Title</h3>
                        <p class="card-text mb-auto">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet ut turpis vel congue.
                            Etiam sit amet ex bibendum sapien euismod imperdiet tincidunt id nibh. Donec ac fringilla ligula.
                        </p>
                        <a href="" class="stretched-link">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static text-start">
                        <p class="d-inline-block mb-2 text-primary">Author</p>
                        <h3 class="mb-0">Title</h3>
                        <p class="card-text mb-auto">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet ut turpis vel congue.
                            Etiam sit amet ex bibendum sapien euismod imperdiet tincidunt id nibh. Donec ac fringilla ligula.
                        </p>
                        <a href="" class="stretched-link">Link</a>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="{% url 'blog' %}" class="btn btn-primary btn-lg px-4 me-md-2">More</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}