{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<section class="container-fluid about-banner text-center mt-5">
    <h1>Meet the team!</h1>
</section>

<div class="banner">
  <div class="slider" style="--quantity: 7">
    {% comment %} Red {% endcomment %}
    <div class="item" style="--position: 1">
      <div class="spacing">
        <div class="polariod">
            <div class="card-axis red">
                <div>
                  <img class="mt-1" src="{% static 'images/team/chris.png' %}" alt="Team member: Chris">
                    <h3 class="title">Chris Niblock</h3> 
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div class="content">
                    <div>
                        <h3>Bio:</h3>
                        <p>Loads of random facts about me</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} Orange {% endcomment %}
    <div class="item" style="--position: 7">
      <div class="spacing">
        <div class="polariod">
            <div class="card-axis orange">
                <div>
                  <img class="mt-1" src="{% static 'images/team/maarten.png' %}" alt="Team member: Maarten">
                    <h3 class="title">Maarten</h3> 
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div class="content">
                    <div>
                        <h3>Bio:</h3>
                        <p>Lorum</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} Yellow {% endcomment %}
    <div class="item" style="--position: 6">
      <div class="spacing">
        <div class="polariod">
            <div class="card-axis yellow">
                <div>
                  <img class="mt-1" src="{% static 'images/team/josip.png' %}" alt="Team member: Josip">
                    <h3 class="title">Josip Potnar</h3> 
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div class="content">
                    <div>
                        <h3>Bio:</h3>
                        <p>Lorum</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} Green {% endcomment %}
    <div class="item" style="--position: 5">
      <div class="spacing">
        <div class="polariod">
            <div class="card-axis green">
                <div>
                  <img class="mt-1" src="{% static 'images/team/kayla.png' %}" alt="Team member: Kayla">
                    <h3 class="title">Kayla</h3> 
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div class="content">
                    <div>
                        <h3>Bio:</h3>
                        <p>Lorum</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} Blue {% endcomment %}
    <div class="item" style="--position: 4">
      <div class="spacing">
        <div class="polariod">
            <div class="card-axis blue">
                <div>
                  <img class="mt-1" src="{% static 'images/team/mia.png' %}" alt="Team member: Mia Rasmussen">
                  <h3 class="title">Mia Rasmussen</h3> 
                  <i class="fas fa-sync-alt"></i>
                </div>
                <div class="content">
                    <div>
                        <h3>Bio:</h3>
                        <p>Lorum</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} Indigo {% endcomment %}
    <div class="item" style="--position: 3">
      <div class="spacing">
        <div class="polariod">
            <div class="card-axis indigo">
                <div>
                  <img class="mt-1" src="{% static 'images/team/kiree.jpg' %}" alt="Team member: Kiree">
                    <h3 class="title">Kiree</h3> 
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div class="content">
                    <div>
                        <h3>Bio:</h3>
                        <p>English born, New Zealand raised, Non-binary coder.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} Violet {% endcomment %}
    <div class="item" style="--position: 2">
      <div>
        <div class="spacing">
          <div class="polariod">
              <div class="card-axis violet">
                  <div>
                    <img class="mt-1" src="{% static 'images/team/patrick.jpg' %}" alt="Team member: Patrick O'Doherty">
                      <h3 class="title">Patrick O'Doherty</h3> 
                      <i class="fas fa-sync-alt"></i>
                  </div>
                  <div class="content">
                      <div>
                          <h3>Bio:</h3>
                          <p>Lorum</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="prideful">
  <h2>Prideful Pixels</h2>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const polaroids = document.querySelectorAll('.polariod');
  
    polaroids.forEach(polaroid => {
      polaroid.addEventListener('click', function() {
        const cardAxis = polaroid.querySelector('.card-axis');
        cardAxis.classList.toggle('flipped');
      });
    });
  });
</script>

{% endblock %}