/* About page */

.details-section {
  display: none;
  position: absolute;
  top: 20%;
  right: 5%;
  width: 30%;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.details-section.visible {
  display: block;
}

.details-section img {
  width: 50%;
}

.data-border {
  border: 5px solid;
  box-shadow: none;
  box-shadow: inset 1px 1px 3px #333, inset -1px -1px 3px #333, 0px 5px 10px #333;
}

.drip-about {
  width: 100%;
  bottom: -53px;
  right: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff0000;
}

.about-links {
  margin-top: 10px;
}

.about-link-icon {
  color: #000;
  font-size: 35px;
  margin-right: 10px;
  text-decoration: none;
}

.about-link-icon:hover {
  color: #bc5ac1;
}

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
  
.banner .slider {
  position: absolute;
  width: 170px;
  height: 10px;
  top: 4%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 25s linear infinite;
  z-index: 1;
}
  
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-4deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-4deg) rotateY(360deg);
  }
}
  
.banner .slider:hover {
    animation-play-state: paused;
}
  
.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
    transition: transform 1s;
}
  
.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.spacing {
    /* Card Spacing */
    display: flex;
    justify-content: space-evenly;
    transform-style: preserve-3d;
}
  
.spacing .polariod {
    position: relative;
    width: clamp(500px, 30vw, 800px);
    height: clamp(500px, 30vw, 800px);
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    z-index: 1;
}
  
.spacing .polariod .card-axis {
  /* Pulling the card out of flow */
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 40%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
  background: #333;
  border: 2px solid #333;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  border-radius: 10px;
  box-shadow: -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
  .spacing .polariod .card-axis:hover {
    color: #000;
    border: 2px solid #ffffff;
  }
  
  /* Add hover effects for color classes */
.spacing .polariod .card-axis.red:hover {
  background: #ffadad;
  box-shadow: 0 0 5px #e40303, 0 0 10px #e40303, inset 0 0 5px #e40303,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.spacing .polariod .card-axis.orange:hover {
  background: #ffd6a5;
  box-shadow: 0 0 5px #ff8c00, 0 0 10px #ff8c00, inset 0 0 5px #ff8c00,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.spacing .polariod .card-axis.yellow:hover {
  background: #fdffb6;
  box-shadow: 0 0 5px #ffed00, 0 0 10px #ffed00, inset 0 0 5px #ffed00,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.spacing .polariod .card-axis.green:hover {
  background: #caffbf;
  box-shadow: 0 0 5px #008026, 0 0 10px #008026, inset 0 0 5px #008026,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.spacing .polariod .card-axis.blue:hover {
  background: #9bf6ff;
  box-shadow: 0 0 5px #004dff, 0 0 10px #004dff, inset 0 0 5px #004dff,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.spacing .polariod .card-axis.indigo:hover {
  background: #bdb2ff;
  box-shadow: 0 0 5px #570997, 0 0 10px #570997, inset 0 0 5px #570997,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}

.spacing .polariod .card-axis.violet:hover {
  background: #ffc6ff;
  box-shadow: 0 0 5px #750787, 0 0 10px #750787, inset 0 0 5px #750787,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.spacing .polariod .card-axis.flipped {
  transform: rotateY(180deg);
}
  
.spacing .polariod .card-axis div img {
  /* Front image dimensions */
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 99%;
  height: 60%;
  object-fit: cover;
}
  
.spacing .polariod .card-axis .content {
  /* Content Positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.spacing .polariod .card-axis .content div {
  /* Raising the text from the card back */
  padding: 20px;
  background-color: rgb(60, 60, 60);
  background-image: linear-gradient(45deg, black, rgb(60, 60, 60));
  transform: translateZ(100px);
  overflow: auto;
}

.spacing .polariod .card-axis .content h3 {
  justify-content: start;
  text-transform: uppercase;
  font-family: Ubuntu;
}
  
.spacing .polariod .card-axis .content p {
  font-size: 20px;
  font-family: Ubuntu;
}
  
.spacing .polariod .card-axis .title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-family: Playwrite DE VA;
  font-size: 1.3rem;
  margin-top: -0.3rem!important;
}
  
.prideful {
  position: absolute;
  top: 0;
  margin-top: 59vh;
  margin-left: 37vw;
  z-index: 1;
}

.prideful h2 {
  font-size: 70px;
  position: relative;
  color: black;
}

.prideful h2::after {
  content: 'Prideful Pixels';
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background: linear-gradient(to bottom, #ffadad, #ffd6a5, #fdffb6, #caffbf,
  #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
  -webkit-background-clip: text;
  background-clip: text;
  transform: scaleY(-1);
  opacity: 0.4;
  pointer-events: none;
}

.light {
  cursor: pointer;
}

.light i {
  color: #fdffb6;
}

.card-axis.red.highlight, .card-axis.orange.highlight, .card-axis.yellow.highlight, .card-axis.green.highlight,
.card-axis.blue.highlight,.card-axis.indigo.highlight, .card-axis.violet.highlight {
  border: 2px solid #ffffff;
}
  
/* Add hover effects for color classes */
.card-axis.red.highlight {
  background: #ffadad;
  box-shadow: 0 0 5px #e40303, 0 0 10px #e40303, inset 0 0 5px #e40303,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.card-axis.orange.highlight {
  background: #ffd6a5;
  box-shadow: 0 0 5px #ff8c00, 0 0 10px #ff8c00, inset 0 0 5px #ff8c00,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.card-axis.yellow.highlight {
  background: #fdffb6;
  box-shadow: 0 0 5px #ffed00, 0 0 10px #ffed00, inset 0 0 5px #ffed00,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.card-axis.green.highlight {
  background: #caffbf;
  box-shadow: 0 0 5px #008026, 0 0 10px #008026, inset 0 0 5px #008026,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.card-axis.blue.highlight {
  background: #9bf6ff;
  box-shadow: 0 0 5px #004dff, 0 0 10px #004dff, inset 0 0 5px #004dff,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.card-axis.indigo.highlight {
  background: #bdb2ff;
  box-shadow: 0 0 5px #570997, 0 0 10px #570997, inset 0 0 5px #570997,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
}
  
.card-axis.violet.highlight {
  background: #ffc6ff;
  box-shadow: 0 0 5px #750787, 0 0 10px #750787, inset 0 0 5px #750787,
  -1px 1px 1px #4a4a4a, -2px 2px 1px #4a4a4a, -3px 3px 1px #323232, -4px 4px 1px #323232,
  -5px 5px 1px #272727, -6px 6px 1px #272727, -7px 7px 1px #000, -10px 10px 10px #000;
} 

@media (max-width: 991px) { 
  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(200px);
  }

  .prideful {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 70vh;
    z-index: 1;
  }
}

@media (max-width: 700px) { 
  .prideful h2 {
    font-size: 300%;
  }
}

@media (max-width: 400px) { 
  .prideful {
    margin-top: 63vh;
  }

  .prideful h2 {
    font-size: 200%;
  }
}